<div class="container">
    <div class="center">
        <h4>Add a user by Email :</h4>
    </div>

    <div class="alert alert-success" role="alert" ng-show="success">Successfully created user account </div>
    <form class="form-signin" role="form">
        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" value="recruiter3@gmail.com"><br>
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="" value="recruiter3">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="connectAndAddUser($event)" >Add user</button>

    </form>

    <row ng-show="auth.profile.nickname">
        <span ng-show="auth.profile.nickname">Logged In name is {{auth.profile.nickname}}</span>
    </row>

</div>
 