<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" >Recruitement CRM </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Recruiter <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a >Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >User List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Jobs <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Jobs List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container">
    <div class="center">
        <h4>Add a user by Email :</h4>
    </div>

    <div class="alert alert-success" role="alert" ng-show="success">Successfully created {{user.type}}</div>
    <form class="form-signin" role="form">

        <div ng-init="user.type='candidate'" />
        <input type="radio"  ng-model="user.type" value="candidate"> Candidate</input>
        <input type="radio" ng-model="user.type" value="manager"> Manager </input>

        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" ><br>
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" >
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="connectAndAddUser($event)" >Add user</button>

    </form>

    <row ng-show="auth.profile.nickname">
        <span ng-show="auth.profile.nickname">Logged In name is {{auth.profile.nickname}}</span>
    </row>

</div>
 