<div class="container">
    <div class="center">
        <h4>Add a user by Email :</h4>
    </div>

    <div class="alert alert-success" role="alert" ng-show="success">Successfully created {{user.type}}</div>
    <form class="form-signin" role="form">

        <div ng-init="user.type='candidate'" />
        <input type="radio"  ng-model="user.type" value="candidate"> Candidate</input>
        <input type="radio" ng-model="user.type" value="manager"> Manager </input>

        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" ><br>
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" >
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="connectAndAddUser($event)" >Add user</button>

    </form>

    <row ng-show="auth.profile.nickname">
        <span ng-show="auth.profile.nickname">Logged In name is {{auth.profile.nickname}}</span>
    </row>

</div>
 