<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" >Recruitement CRM </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{type | uppercase}} <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Profile (<span><b>{{email}}</b></span>)</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a >Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >User List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Jobs <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Jobs List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>




<div class="container" ng-app="crmDemo" layout="row" ng-cloak>
<b>My Affected Jobs:</b>

    <div class="block" ng-repeat="job in manJobs">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left"><b>{{job.name}}</b></div>
        </div>
        <div class="col-md-offset-3"> <i>{{job.description}}</i> </div>

        <div class="block-content collapse in">
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Candidates:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in job.candidates">
                        <td>{{c}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>



</div>
