<div class="row">
    Connected User: <span><b>{{email}}</b></span>, type = {{type}}
</div>

<div class="container" ng-app="crmDemo" layout="row" ng-cloak>

    <p class="text-center">
        <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
        <a href="#" class="btn btn-primary" ng-click="logout()">logOut</a>
    </p>


    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Jobs list</div>
        </div>
        <div class="block-content collapse in">
            <select>
                <option ng-repeat="job in jobs" title="{{job.name}}" value="{{job.name}}">{{job.name}}</option>
            </select>
        </div>
    </div>


    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left"> Managers list</div>
        </div>
        <div class="block-content collapse in">
            <select multiple >
                <option ng-repeat="m in managers">{{m.email}}</option>
            </select>
        </div>
    </div>


    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Candidates List</div>
        </div>
        <div class="block-content collapse in">
            <select multiple >
                <option ng-repeat="m in managers">{{m.email}}</option>
            </select>
        </div>
    </div>



</div>
