<div class="container" ng-app="crmDemo" layout="row" ng-controller="UserController as ul" ng-cloak>

    <div class="row times">

        <div class="col-md-6 text-center" ng-repeat="day in days">

            <h>{{ day.name }}</h>

            <div class="time-slot" ng-repeat="slot in day.slots">

                <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" >

                <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
                    <span ng-if="slot.booked">Booked</span>
                    <span ng-if="!slot.booked">Available</span>
                </label>

            </div>
        </div>

    </div>
</div>
