<div class="row">
    Connected User: <span><b>{{email}}</b></span>, type = {{type}}

</div>
<div class="container" ng-app="crmDemo" layout="row" ng-cloak>

    <p class="text-center">
        <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
        <a href="#" class="btn btn-primary" ng-click="logout()">logOut</a>
    </p>




    <div class="container-fluid">
        Jobs list
        <select>
            <option ng-repeat="job in jobs" title="{{job.name}}" value="{{job.name}}">{{job.name}}</option>
        </select>
    </div>

    <div class="container-fluid">
        Managers list
        <select>
            <option ng-repeat="m in managers">{{m.email}}</option>
        </select>
    </div>

    <div class="container-fluid">
        Candidates List
        <select>
            <option ng-repeat="m in managers">{{m.email}}</option>
        </select>
    </div>


</div>
