<div class="row">
    Connected User: <span><b>{{email}}</b></span>, type = {{type}}

</div>
<div class="container" ng-app="crmDemo" layout="row" ng-cloak>

    <p class="text-center">
        <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
        <a href="#" class="btn btn-primary" ng-click="logout()">logOut</a>
    </p>


    <div class="block" ng-repeat="job in jobs">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left"><b>{{job.name}}</b></div>
        </div>
        <div> <i><b>{{job.description}}</b></i> </div>

        <div class="block-content collapse in">
            <div class="block-content collapse in">
                <table class="table table-striped">
<!--                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{u.email}}</td>
                        <td>{{u.type}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>









        </div>
    </div>



</div>
