<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" >Recruitement CRM </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Recruiter <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a >Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >User List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Jobs <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" >Jobs List</a>
                            </li>
                            <li>
                                <a tabindex="-1" >Search</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>





<div class="row">
    Connected User: <span><b>{{email}}</b></span>

    type = {{type}}

</div>
<div class="container" ng-app="crmDemo" layout="row" ng-cloak>

    <div class="row">

        <p class="text-center">
            <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
            <a href="#" class="btn btn-primary" ng-click="logout()">logOut</a>
        </p>

        <div class="col-md-2 text-center" ng-repeat="day in days">

            <h>{{ day.name }}</h>

            <div class="time-slot" ng-repeat="slot in day.slots">

                <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked">

                <label class="time-slot" for="{{ day.name }}-{{ $index }}">{{ slot.time }} <br>
                    <span ng-if="slot.booked">Booked</span> <span ng-if="!slot.booked">Available</span> </label>

            </div>
        </div>
    </div>


</div>
