<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand">Recruitement CRM </a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>
                            {{type | uppercase}} <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1">Profile (<span><b>{{email}}</b></span>)</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <a href="#/home-recruiter">Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#/add-user">Add User</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" data-toggle="dropdown">Jobs <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#/add-job">Add a job</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container" id="login">
    <div class="alert alert-success" role="alert" ng-show="success">Successfully created the Job: {{job.name}}</div>
    <form class="form-signin" name="form" novalidate="novalidate">
        <input ng-model="job.name" name="name" required="required" type="text" class="form-control"
               placeholder="job name" required=""><br>
            <span class="label label-warning" ng-messages="form.name.$error" multiple
                  ng-show="form.name.$invalid && (form.name.$touched || form.$submitted)">Field required</span>
        <input ng-model="job.description" name="description" required="required" type="text" class="form-control"
               placeholder="job description"
               required="">
        <span class="label label-warning" ng-messages="form.description.$error" multiple
              ng-show="form.description.$invalid && (form.description.$touched || form.$submitted)">Field required</span>
        <br>
        <button ng-disabled="!form.$valid" class="btn btn-large btn-primary" type="submit" ng-click="addJob($event)">Add
            Job
        </button>
    </form>
    <row ng-show="auth.profile.nickname">
        <span ng-show="auth.profile.nickname">Logged In name is {{auth.profile.nickname}}</span>
    </row>
</div>
 